
<div class="container" role="main">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<img src="templates/images/logo.jpeg" class="img img-responsive">
		</div>
	</div>
	
	<div id="loginform" class="row " style="margin-top:60px;opacity:0;">
		
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			
			  <div class="well">
				  <form id="loginForm" method="POST" action="{{ siteUrl('login') }}" novalidate="novalidate">
					  <div class="form-group">
						  <label for="username" class="control-label">Usuario</label>
						  <input type="text" class="form-control" id="username" name="username" value="" required="" title="escriba su nombre de usuario" placeholder="Escriba su nombre de usuario">
						  <span class="help-block"></span>
					  </div>
					  <div class="form-group">
						  <label for="password" class="control-label">Contrase&ntilde;a</label>
						  <input type="password" class="form-control" id="password" name="password" value="" required="" title="escriba su password">
						  <span class="help-block"></span>
					  </div>
					 <!--
					  <div class="checkbox">
						  <label>
							  <input type="checkbox" name="remember" id="remember"> Remember login
						  </label>
						  <p class="help-block">(if this is a private computer)</p>
					  </div>
					  !-->
					  <button type="submit" class="btn btn-success btn-block">Acceder</button>
					  <a href="recuperar-clave" class="btn btn-default btn-block">Problemas con el acceso?</a>
				  </form>
			  </div>
		  </div>
		  
		  <div class="col-md-6 col-md-offset-3 col-xs-12">
			 <!-- <p class="lead">Register now for <span class="text-success">FREE</span></p>
			  <ul class="list-unstyled" style="line-height: 2">
				  <li><span class="fa fa-check text-success"></span> See all your orders</li>
				  <li><span class="fa fa-check text-success"></span> Fast re-order</li>
				  <li><span class="fa fa-check text-success"></span> Save your favorites</li>
				  <li><span class="fa fa-check text-success"></span> Fast checkout</li>
				  <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
				  <li><a href="/read-more/"><u>Read more</u></a></li>
			  </ul>!-->
			  <p><a href="{{ siteUrl('registro') }}" class="btn btn-info btn-block">Eres nuevo?</a></p>
		  </div>
	  </div>
	  

</div> <!-- /container -->

<script>
$(document).ready(function(){
	 $( "#loginform" ).animate({
			opacity: 1,
			'margin-top': "0px",
			},
		1000);
//	$( "#loginform" ).removeClass('hide',{duration:10000});//animate({ "left": "+=50px" }, "slow" );
});
</script>
